
html
{
    background-color: -o-linear-gradient(#535B42,#000000) fixed; /*градиентный цвет страницы*/
}

.my-class
{
    background-color: #535B42;
    color: #FFDC25;
    font-family: Adamina;
    border-radius: 20%;
}

.a_class,.a_class:visited,.a_class:active, .a_class:hover,
.a_contact_information, .a_contact_information:visited,.a_contact_information:active,
.a_contact_information:hover
{
    color:black;
    font-family: Adamina;
    padding: 5px;
    text-decoration: none;
}

p.h1, p.h4
{
    font-family: Adamina;
}
p.h1
{
    color: #FFDC25;
}
p.h4
{
    color: black;
}

.flex { display: flex; }
.advantages { justify-content: space-around; }

.a_class
{
    font-size: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.green
{
    background-color: #535B42;
    border-radius: 3%;
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.a_contact_information
{
  font-size: 30px;
}
.pad
{
   margin-right: 15px;
}
.h7
{
    font-family: Adamina;
    font-size: 30px;
}

.my-container
{
    width: 50%;
    max-width: 800px;
    margin: 0;
}

image
{
    width: 25%;
    height: 25%;
}


